#  _                                        _ _   _
# | |    ___   __ _ ___  ___  __ _     __ _(_) |_(_) __ _ _ __   ___  _ __ ___
# | |   / _ \ / _` / __|/ _ \/ _` |   / _` | | __| |/ _` | '_ \ / _ \| '__/ _ \
# | |__| (_) | (_| \__ \  __/ (_| |  | (_| | | |_| | (_| | | | | (_) | | |  __/
# |_____\___/ \__, |___/\___|\__, | (_)__, |_|\__|_|\__, |_| |_|\___/|_|  \___|
#            |___/             |_|   |___/         |___/
###############################################################################

#config
.obsidian/
.vscode/
.idea/
.trash/
.venv/
__pycache__/

# PDFs, IMAGEs and more
assets/

# Draw
draws/
# Recyble Bin
logseq/.recycle/
logseq/bak/

# not public pages
pages/LFH.md
pages/Omnivore.md

# config
# logseq/custom.css
# logseq/config.edn

# temp file
utils/format/regex/backup/
utils/format/regex/tests/
utils/blog/blogger.com/sitemap.xml

# File
.DS_Store

